<div ng-controller="mainController">
  <form name='newform' ng-submit='addLocation()'>
    <input type="text" placeholder="Location" ng-model='newSite.location'>
    <input type="text" placeholder="IP Address" ng-model='newSite.ip'>
    <input type="number" placeholder="Port" ng-model='newSite.port'>
    <input type="submit" value="Add">
  </form>
  <table>
    <tr>
      <th>Location</th>
      <th>IP Address</th>
      <th>Port</th>
      <th>Additional Actions</th>
    </tr>
    <tr ng-repeat='site in sites'>
      <td>{{site.location}}</td>
      <td>{{site.ip}}</td>
      <td>{{site.port}}</td>
      <td><a href="">Edit</a> <a href="">Delete</a></td>
    </tr>
  </table>
</div>
