<div ng-controller="mainController">
  <form ng-submit=''>
    <input type="text" placeholder="Location">
    <input type="text" placeholder="IP Address">
    <input type="text" placeholder="Port">
    <input type="submit" value="Add">
  </form>
  <table>
    <tr>
      <th>Location</th>
      <th>IP Address</th>
      <th>Port</th>
      <th>Additional Actions</th>
    </tr>
    <tr ng-repeat=''>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="">Edit</a> <a href="">Delete</a></td>
    </tr>
  </table>
</div>
